:root{
    --menu-width:200px;
    --head-height:70px;
    --hr-height:10px;
    --login-width:400px;
    --banner-margin:20px;
    --title-font:80px;
}

@font-face {
    font-family: "title_font";
    src: url('../fonts/ubuntu/Ubuntu-Regular.ttf'); 
}
@font-face {
    font-family: "menu_font";
    src: url('../fonts/BMHANNAAir_ttf.ttf'); 
}

#div_root{
    margin: 0;
    width:100%;
    background-color: white;
}

#div_head{
    width:100%;
    height: var(--head-height);
}

#div_banner{
    width:calc(100% - var(--login-width));
    height:100%;
    margin-left: var(--banner-margin);
    line-height: var(--title-font);
    color:rgb(70, 70, 70);
    font-size:var(--title-font);
    font-family: "title_font";
    float: left;
}


#div_login{
    width:calc(var(--login-width) - var(--banner-margin));
    height:100%;
    float: left;
    position: relative;
}
#div_login a{
    text-decoration: none;
    color:rgb(70, 70, 70);
}
.login_text{
    position:absolute;
    right:0;
    top:0;
    font-size:20px;
    font-family: 'menu_font';
    color:rgb(70, 70, 70);
}


#hr {
    height:var(--hr-height);
    border:0;
    width: 100%;
}
#hr hr{
    height: 1px;
    background-color: rgb(70, 70, 70);
}



#div_body{
    width:100%;
    height: calc(100% - var(--head-height) - var(--hr-height) - 10px);
}

#div_menu{
    width:var(--menu-width);
    height: 100%;
    float: left;
    background-color: rgb(70, 70, 70);
    font-family: 'menu_font';
}
#div_menu a{
    text-decoration: none;
    color: white;
}

#div_content{
    width:calc(100% - var(--menu-width));
    height:100%;
    float: left;
    background-color: white;
}
#div_content iframe{
    border:none;
}

.menu_item {
	display: block;
    font-size: 25px;
    margin-bottom: 50px;
    color:white;
}

.stage{
    font-size:20px;
    height: 25px;
    margin-left:20%;
    margin-top:20%;
    color:white;
}
