:root{
    --chart-width:50%;
}
#home_div_root{
    width:100%;
}
#home_div_info{
    width:var(--chart-width);
    height: 50%;
    float: left;
    position: relative;
}
#home_div_resource{
    width:var(--chart-width);
    height: 50%;
    float: right;
    position: relative;
}
#home_div_logcount{
    width:var(--chart-width);
    height: 50%;
    float: left;
    position: relative;
}
#home_div_logcount_hour{
    width:var(--chart-width);
    height: 50%;
    float: right;
    position: relative;
}
#nt{
    color: gray;
    text-shadow: 1px 1px 2px black, 0 0 25px gray, 0 0 5px darkgrey;
}
#dt{
    text-shadow: 1px 1px 2px black, 0 0 25px gray, 0 0 5px darkgrey;
}
#utt{
    color: rgb(182, 176, 176);
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px darkgrey;
}
#ut{
    color: gray;
    text-shadow: 1px 1px 2px black, 0 0 25px gray, 0 0 5px gray;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
canvas{
    width:650px;
}